h1, h2, h3 {
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(44, 101, 44);
    font-size: 3em;
    margin: 0 auto;
  }

p {
    line-height: 1.5;
    text-align: left;
    text-align: justify;
}

a {
    text-decoration: none;
    color: rgb(83, 174, 45);
    font-weight: bolder;
  }

a:hover {
    text-decoration: underline;
    cursor: pointer;
  }


#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.ponseti-life-year {
    font-weight: bold;
}

#main { 
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 60px;
    }

