body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(2, 0, 50);
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
}

h3 {
  text-decoration: underline;
}

p {
  line-height: 1.5;
  text-align: left;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: rgb(2, 0, 50);
}

ul li {
  font-family: "Bitter", serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #a53167;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ponseti-life-year {
  font-family: "Bitter", serif;
}

.ada-pictures {
  display: flex;
}

.ada-image-captions {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  font-family: monospace;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  color: rgb(2, 0, 50, 0.8);
}

#parents {
  text-decoration: none;
  color: black;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  box-shadow: 5px 5px 5px gray;
}

#img-caption {
  font-family: monospace;
  text-align: center;
}

#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 60px;
}

#ada-talipes,
#ada-boots-and-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#ada-feb-2023 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#ada-feet-animation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#ada-feet-animation-caption,
#ada-feb-2023-caption,
#ada-talipes-caption,
#ada-boots-and-bar-caption {
  font-family: monospace;
  text-align: center;
}
